
<div style="background-color: #4CAF50; color: white; padding: 15px; text-align: center;">
  <h1>Admin Dashboard</h1>
</div>

  <div style="width: 80% center; padding: 15px;">
      <h2>Welcome to the Admin Dashboard</h2>
      <p>This is where you can manage your system.</p>

      <div style="display: flex; justify-content: space-between;">
          <div style="background-color: #f1f1f1; padding: 15px; margin: 10px; width: 30%;">
              <h3>test</h3>
              <p>{{userData.fristName}} {{userData.lastName}}</p>
              <button routerLink="/profile">ปุ่ม</button>
          </div>
          <div style="background-color: #f1f1f1; padding: 15px; margin: 10px; width: 30%;">
              <h3>test</h3>
              <p>Update system settings</p>
              <button>ปุ่ม</button>
          </div>
          <div style="background-color: #f1f1f1; padding: 15px; margin: 10px; width: 30%;">
              <h3>test</h3>
              <p>View system reports</p>
              <button>ปุ่ม</button>
          </div>
          <div style="background-color: #f1f1f1; padding: 15px; margin: 10px; width: 30%;">
            <h3>test</h3>
            <p>View system reports</p>
            <button>ปุ่ม</button>
        </div>
   
      </div>
  </div>
